
/* setting display for body */
.bodyFristBox{
    background:url('../image/topRated.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    margin: 30px ;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 20px;
}

.bodySecondBox{
    height: 55%;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.Terms {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 20px;
    border-radius: 20px;
    width: 100%;
    height: 48%;
    /* bacground style */
    background-image:url('../image/Terms\ .jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

/* style value in Boxs */
/* ----------------------------- */
/* style values in top rated box */
.top_rated h2{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    margin: 1rem;
    padding: 1rem;
}
.top_rated h5{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
}
.top_rated p{
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
}

.About_manga{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 20px;
    width: 100%;
    height: 48%;
    border-radius: 20px;
    /* style  bacground and text  */
    background:url('../image/manga\ \(3\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-shadow: rgba(0, 0, 0, ) 0px 8px 20px;
    text-decoration: none;
}
.About_manga h3{
    margin: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    padding: .5rem;
}
.About_manga{
    font-family: 'Times New Roman', Times, serif;
}
.Terms h3{
    margin: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    padding: .5rem;
}



/* media style */
@media (min-width:680px){
    .body{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .bodyFristBox{
        width: 60%;
        height: 80%;
    }
    .bodySecondBox{
        width: 40%;
        height: 80%;
    }
    .About_manga h3{
        font-size: 2rem;
    }
    .About_manga p{
        font-size: 1rem;
        font-weight: 800;
    }
    .bodyFristBox{
        background-attachment: scroll;
    }
    .Terms h3{
        font-size: 2rem;
    }
    .Terms p{
        font-size: 1rem;
        font-weight: 800;
    }
    
}