/* setting display for body */
.bodyFristBox{
    background:url('../image/topRated.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    margin: 30px ;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 20px;
}

.bodySecondBox{
    height: 55%;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.most_viewed{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 20px;
    width: 100%;
    height: 48%;
    background-color: orange;
    border-radius: 20px;
}
.newest{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 20px;
    border-radius: 20px;
    width: 100%;
    height: 48%;
    background-color: rgb(37, 207, 219);
}
@media (min-width:680px){
    .body{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .bodyFristBox{
        width: 60%;
        height: 80%;
    }
    .bodySecondBox{
        width: 40%;
        height: 80%;
    }
    
}
/* style value in Boxs */
/* ----------------------------- */
/* style values in top rated box */
.top_rated h2{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    margin: 1rem;
    padding: 1rem;
}
.top_rated h5{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
}
.top_rated p{
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
}
