.linksNavbar {
    padding: 0px 0.5rem;
}

.linksNavbar ul {
    background-color: #24252A;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-weight: 600;
}

.linksNavbar li {
    float: left;
}
.active{
    border-bottom: 5px solid rgb(122, 110, 0);
}
.linksNavbar a {
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
    display: block;
}

.linksNavbar a:hover {
    background-color: #555;
}

#right-1,#right-2 {
    float: right;
    background-color: rgb(122, 110, 0);
    border-right:1px solid #24252A;
}