* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Arial, sans-serif;
}
body{
    background-color: #24252A;
    
    
}
.continer{
    display: grid;
    grid-template-rows: 1fr 12fr 20fr 20fr 4fr;
}
.navbar{
    height: 4rem;
    position: sticky;
    top: 0;
}
.body{
    text-align: center;
}
.header{
    text-align: center;
}
.news{
    /* background-color: orangered; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background-color: blue;
    text-align: center;
}
